target/
.ci-cache/
.metals
.sbt
.bsp
.bloop
.coursier-cache
__pycache__
.pytest_cache
.mypy_cache
.pyright
language-test-harnesses/python/.venv/
templates/**/__pycache__/
templates/**/.pytest_cache/
templates/**/tests/**/out/
.pre-commit-home
.xdg-runtime
result
.direnv
