{
  "version": "1.0",
  "sources": [
    "../petstore-smithy-spec/petstore"
  ],
  "maven": {
    "repositories": [
      {
        "url": "${SMITHPLATES_LOCAL_MAVEN_REPOSITORY_URL}",
        "id": "smithplates-local-maven"
      }
    ],
    "dependencies": [
      "com.jacoby6000:smithplates-plugin:${SMITHPLATES_VERSION}"
    ]
  },
  "plugins": {
    "smithplates": {
      "python": {
        "sourceOutputDir": "src/generated",
        "testOutputDir": "tests",
        "sql": {
          "sqlite": {
            "enable": true,
            "migrationLocation": "db/migrations/sqlite"
          },
          "postgres": {
            "enable": true,
            "migrationLocation": "db/migrations/postgres"
          },
          "rootNamespace": "generated"
        },
        "http": {
          "rootNamespace": "generated",
          "server": {
            "webFramework": "fastapi"
          },
          "client": {
            "httpLibrary": "httpx"
          }
        }
      }
    }
  }
}
