{
  "version": "1.0",
  "sources": [
    "smithy"
  ],
  "maven": {
    "dependencies": [
      "com.jacoby6000:smithplates-plugin:${SMITHPLATES_VERSION}"
    ]
  },
  "plugins": {
    "smithplates": {
      "python": {
        "sourceOutputDir": "src/generated",
        "testOutputDir": "test",
        "sql": {
          "sqlite": {
            "enable": true,
            "migrationLocation": "db/migrations/sqlite"
          },
          "postgres": {
            "enable": true,
            "migrationLocation": "db/migrations/postgres"
          }
        }
      }
    }
  }
}
