{{newline}}@pytest.mark.integration
@pytest.mark.sqlite
@pytest.mark.asyncio
async def test_derived_sql_methods_transaction_commit({{serviceFixtureName}}: {{implementationClassName}}) -> None:
{{i4}}connection = {{serviceFixtureName}}._connection
{{i4}}await connection.execute("BEGIN")
{{i4}}try:
{{i8}}entity_id = await {{serviceFixtureName}}.{{{insertOperation.methodName}}}({{{insertOperation.callArguments}}}, transaction=connection)
{{i8}}assert isinstance(entity_id, str)
{{i8}}assert entity_id

{{i8}}fetched = await {{serviceFixtureName}}.{{{selectOneOperation.methodName}}}({{{selectOneOperation.callArguments}}}, transaction=connection)
{{i8}}assert isinstance(fetched, {{{selectOneOperation.outputClassName}}})
{{#transactionCommitInTxAssertions}}
{{{line}}}
{{/transactionCommitInTxAssertions}}
{{i8}}await connection.commit()
{{i4}}except BaseException:
{{i8}}await connection.rollback()
{{i8}}raise

{{i4}}fetched_after_commit = await {{serviceFixtureName}}.{{{selectOneOperation.methodName}}}({{{selectOneOperation.callArguments}}})
{{i4}}assert isinstance(fetched_after_commit, {{{selectOneOperation.outputClassName}}})
{{#transactionCommitAfterAssertions}}
{{{line}}}
{{/transactionCommitAfterAssertions}}
{{newline}}
