{
  "version": "1.0",
  "sources": [
    "smithy"
  ],
  "maven": {
    "dependencies": [
      "com.jacoby6000:smithplates-plugin:${SMITHPLATES_VERSION}"
    ]
  },
  "plugins": {
    "smithplates": {
      "python": {
        "sourceOutputDir": "src/generated",
        "testOutputDir": "test",
        "http": {
          "server": {
            "webFramework": "fastapi",
            "packageName": "generated.project_api"
          }
        }
      }
    }
  }
}
