def _read_{{className}}_col(row: dict[str, object], column: str) -> {{className}}:
{{> partials/json/row_data_sqlite_col}}{{newline}}    return {{className}}(
{{#members}}{{i8}}{{name}}=cast({{languageTypeName}}, data["{{name}}"]),{{newline}}{{/members}}{{i4}})
