def _read_{{className}}_col(row: sqlite3.Row, column: str) -> {{className}}:
{{> partials/json/row_data_sqlite_col}}{{newline}}    return {{className}}(
{{#members}}{{i8}}{{name}}=cast({{pythonTypeName}}, data["{{name}}"]),{{newline}}{{/members}}{{i4}})
